.in-menu-top-left a {
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.in-menu-top-left a:focus {
	border-bottom: 3px solid #000
}

.in-menu-top-left a:hover {
	color: rgba(0,0,0,0.63);
	border-bottom: 3px solid #000
}

.in-menu-top-left p {
	display: inline-block;
	cursor: pointer
}

.in-menu-top-left p:hover {
	color: rgba(0,0,0,0.63)
}

.in-container {
	margin-top: 2em
}

.in-container-top {
	padding: .4em .3em;
	font-size: 13px
}

.in-container-top i {
	font-size: 17px
}

.in-container-top a {
	display: inline-block;
	margin: 0;
	margin-right: 2em;
	color: rgba(0,0,0,0.63);
	text-decoration: none
}
.ab-left{
  padding: 0 !important;
}
.in-container-bootem {
	margin-bottom: 1em
	
}
.comments-in-about{
	padding: 1em;
}
.in-container-text {
	padding: .4em .3em;
	font-size: 13px
}

.in-container-text * {
	margin: 0;
	padding: 0
}






.in-conntainer-title {
	margin: 1em;
	margin-right: 2em;
	display: block;
	text-indent: 2em
}

.in-conntainer-title a {
	text-decoration: none;
	color: rgba(0,0,0,0.63)
}

.in-conntainer-title img {
	width: 30%;
	display: block;
	margin: 1em 0
}

.in-conntainer-font {
	margin: .5em 1em
}

.in-conntainer-font p {
	display: inline-block;
	cursor: pointer
}

.in-conntainer-font p i {
	font-size: 17px
}

.in-conntainer-font a {
	color: rgba(0,0,0,0.63);
	margin: 0 2px;
	text-decoration: none;
	padding: 2px;
	background: #f5f5f5;
}

.in-conntainer-font p span {
	display: inline-block;
	padding: 2px;
	background: #f5f5f5
}

.in-about * {
	margin: 0;
	padding: 0
}

.in-about-close {
	display: inline-block;
	font-size: 18px
}

.in-about-ang {
	margin: 2.5em 1em;
}
.in-about-ang-img  {
	margin: auto;
	width: 60px;
	height: 60px;
}
.in-about-ang-img img{
	width: 60px;
	height: 60px;
}
.in-about-ang-tit {
	margin-top: 1em;
}

.in-about-ang-tit h4 {
	color: #000;
	text-align: center;
	margin-bottom: 0.5em;

}

.about-text {
	display: block;
	font-size: 12px;
	word-break:break-all;
	word-break:break-all;
	overflow: hidden;
	text-align: center;
}

.in-about-sosy {
	background: rgba(0,0,0,.14);
	display: flex;
	align-items: center;
	padding: .3em .5em;
	border-radius: 500px
}

.in-about-sosy input {
	border: 0;
	outline: 0;
	background: 0
}

.in-about-sosy button {
	border: 0;
	background: 0;
	color: rgba(0,0,0,0.63)
}

.in-about-tj {
	margin: 1em 0;
	text-align: center
}
.in-about-tj a i{
	font-size: 14px;
}

.in-about-tj-this {
	border-right: none!important
}

.cn-container-title {
	display: block;
	text-align: left
}

.cn-coa {
	font-size: 13px;
	cursor: pointer;
	display: block
}

.cn-coa a {
	color: rgba(0,0,0,.54)!important;
	text-decoration: none
}

.cn-container-title h2 {
	color: #000
}

.cn-time {
	padding-left: 1em;
	margin: 0
}

.cn-container * {
	padding: 0;
	margin: 0
}

.cn-container {
	margin-top: 1em;
	padding-left: 1em;
	text-align: left;
	color: #000;
	word-wrap: break-word;
	word-break: break-all;
	display: block;
/* overflow:hidden */
}

.cn-container img {
	width: 70%;
/* padding:0 15%; */
	display: block;
	margin: 1.5em 0;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,.12);
}

.in-cntainer-top-a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 30%
}

.cn-title {
	padding: 0;
	padding: 1em;
	float: none;
}

.cn-container pre {
	margin: 1em!important
}

.cn-container pre>code {
	padding: 1em!important;
	border-radius: 5px
}

.cn {
	margin-bottom: 1em
}

.cn-container h2 {
	font-size: 19px;
	font-weight: 500;
	margin: .7em 0;
}

.cn-container h2:before {
	content: '#';
	color: rgba(1,37,20,0.53);
	margin-right: 5px
}

.cn-container h1 {
	font-size: 19px;
	font-weight: 500;
	margin: .5em 0
}

.cn-container h1:before {
	content: '';
	border-radius: 33%;
	background: rgba(0,0,0,0.51);
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 8px 3px 0
}

.cn-container h3 {
	font-size: 19px;
	font-weight: 500;
	margin: .5em 0
}

.cn-container h3:before {
	content: '';
	border-radius: 100%;
	border: 2px solid #222323;
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 8px 1px 0;
	background-color: rgba(0,0,0,.2)
}

.cn-container ol {
	padding-left: 2.5em
}

.cn-container ol>li {
	padding: .2em 0
}

.cn-container {
	font-size: 14px;
	letter-spacing: 1px;
	padding-bottom: 2em
}

.cn-container blockquote {
	border-left: 3px solid rgba(0,0,0,.8);
	font-weight: 400;
	letter-spacing: .01rem;
	margin: 30px 0;
	padding-left: 10px
}

.cn-container ul>li {
	list-style: none
}

.cn-container ul>li::before {
	content: '-';
	font-weight: 600;
	font-size: 20px;
	color: rgba(1,37,20,0.53);
	margin-right: 5px
}

.cn-container a {
	color: #e91e63;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.in-footer {
	margin-bottom: 0;
	background: #fff;
	padding: 1em 0;
	text-align: center;
	font-size: 12px;
	color: rgba(0,0,0,.54);
	margin-top: 1em
}

.in-footer * {
	margin: 0;
	padding: 0
}

.in-footer a {
	color: rgba(0,0,0,.54);
	text-decoration: none
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px
}

::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(0,0,0,0.06);
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: rgba(0,0,0,0.12);
}

.com-cn {
	list-style: none;
	padding: 1em;
	padding-bottom: 0;
	margin-bottom: 1em;
}


.com-cn a {
	color: #000;
	text-decoration: none
}




.page-navigator {
	margin: 20px 0;
	padding: 0 10px;
	list-style: none;
	text-align: center
}

.page-navigator li {
	display: inline-block;
	margin: .3em
}

.page-navigator li>a {
	color: rgba(0,0,0,.54);
	text-decoration: none;
	padding: .3em .6em;
	background: #fff
}


.cn-footer {
	text-align: center;
	margin-top: 3em
}

.cn-ont {
	font-size: 12px;
	padding: 1em 0
}

.cn-ont p {
	margin: .4em 0
}

.search {
	display: flex;
    border-radius: 10px
}
.search input {
	display: inline-block
}



.in-title {
	padding: .5em .3em
}
.in-void {
	width: 100%;
	box-sizing: border-box;
	text-align: center
}

.ti-link {
	padding: 1em
}
.ab-con {
	padding: 1em
}

.ab-con h2 {
	color: #000
}

.ab-container a {
	text-decoration: none
}
.in-commentang {
	display: none;
	margin-bottom: 1em
}
.cn-container video {
	width: 100%;
	margin: 1em 0
}

.in-a {
	color: #000;
	text-decoration: none
}
.in-conntainer-com{
    margin-top: 1em;
    display: none;
}
.cn-container strong{
  margin: 0.1em 0;
  display: inline-block;
}
.reply2view {
    background:#f8f8f8;
    padding:10px 10px 10px 40px;
    position:relative
}
.cn-container hr{
    margin:2em;
      height: 1px;
    background: rgba(0,0,0,.12);
    border: none;
}
.links-l li a:hover{
  box-shadow:none;
}
.tags-list{
  list-style:none;
  padding-left: 0;
}
.tags-list li{
   display: inline-block;
   margin: 0.3em 0.1em;
}
.tags-list li a{
  padding: 2px 5px;
  background: #f9ecec;
  color:#ff0000;
  font-size: 14px;

}
.yanz,.yanz p{
  display: inline-block;
}
.y-nu{
  width: 2.5em;
  border: none;
  text-align: center;
  border-bottom: 2px dashed rgba(0,0,0,0.36);
  outline: 0;
  line-height: 1;
}
.top-us img{
  width: 40px;
  height: 40px;
}
.top-us{
  display: flex;
  align-items: center;
  padding: 0 2em;
}
.top-us h4{
  padding-left: 0.5em;
  font-size: 16px;
}
.top-us h4>a{
  font-size: 12px;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  color: blue;
  
}
.top-us h4>a:hover{
  border: none;
}
.top-about{
  background:#fff url('https://cdn.peela.cn/image/png186.png') no-repeat;
  background-size: 219%;
}
.top-zz{
  padding-left: 2em;
}
.top-zz p{
  display: block;
}
.ab-container h2{
  font-size: 14px;
  font-weight: 400;
  margin: .7em 0;
}
.ab-container h2::before{
    content: '#';
    color: rgba(1,37,20,0.53);
    margin-right: 5px;
}
.al_mon_list,.al_mon_list ul{
  padding: 0;
  list-style: none;
}
.al_memm{
  display: block;
}
.ab-img{
  width: 100%;
  height: 120px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  filter: grayscale(100%);
}
.links-a{
	width: 100%;
}
.links-a div{
	display: inline-block;
}
.in-conntainer-img img{
	display: inline-block !important;
	margin-right: 0.5em;
    box-sizing: border-box;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
.in-conntainer-img img:hover{
	cursor: pointer;
	transform: scale(1.1);
    -ms-transform:scale(1.1);     /* IE 9 */
    -moz-transform:scale(1.1);     /* Firefox */
    -webkit-transform:scale(1.1); /* Safari ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ Chrome */
    -o-transform:scale(1.1);
}





.comment-inputs{
	margin: 1em 0;
}
.text{
	margin: 0.5em 0;
	background: #f9f9f9;
	border: none;
	outline:none;
	border-radius: 500px;
	padding: 1em 1.5em;
	font-size: 12px;
}
.comment-abouttx{
	text-align: center;
}
.comment-abouttx img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin: 1em 0;
}
.textarea{
	border-radius: 5px !important;
	resize:none;

}
.comment-editor {
        margin-bottom: 2em;
}
.submit{
	border-radius: 5000px;
	letter-spacing: 6px;
	border: none;
	background: none;
	margin: 1em 0;
}
.word{
	font-size: 15px;
	display: none;

}
.protected{
	text-align: center;
}
.protected input{
	display: block;
	margin: auto;
	cursor: pointer;
	width: 60%;
	resize: none;
}
.textareatext{
	padding: 0.2em 1em;
}
.manycomments{
	display: inline-block;
	margin: 1em  2em;
	padding: 0.8em;
	font-size: 14px;
	letter-spacing: 4px;
}
.comment-list{
	list-style: none;
	padding: 0;
}
.comment_main a{
	text-decoration: none;
	color: rgba(0,0,0,.54)!important;
}
.comment_time{
	font-size: 12px;
}
.comment-body{
	margin: 2em 0;
}
.cancel-comment-reply a{
	text-decoration: none;
	color: #000;
	display: block;
	width: 100%;
	text-align: center;
	background: #fff;
	margin: 1em 0;
}
.comment-divider{
	margin-top: 3em;
}
.comment-children{
	margin-left: 6em;
}
.comment-children p{
	display: inline-block;
}
.comment-inputs a{
	color: #000;
	text-decoration: none;
}




*:focus
{
    outline: none;
}

#app-cover
{
}


#bg-layer
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.51;
    z-index: 2;
}

#player
{
    position: relative;
    z-index: 3;
}

#player-track
{
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active
{
}

#album-name
{
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: rgba(0,0,0,0.63);
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#ffe8ee;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
}

#album-art.active
{
}

#album-art:before
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
}

#album-art img.active
{
}

#album-art.active img.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
}

.button
{
    width: 26px;
    height: 26px;
   
    background-color: #fff;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}



.button:hover i
{
    color: #fff;
}

#follow-me-link
{ 
    top: 10px;
    font-size: 13px;
    padding: 5px 7px;
    background-color: #f86d92;
    border-radius: 2px;
}

#share-link
{
    top: 45px;
    width: 16px;
    height: 16px;
    padding: 10px;
    font-size: 16px;
    background-color: #7dca24;
    border-radius: 50%;
}

#follow-me-link, #share-link
{
    position: fixed;
    right: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    z-index: 125;
}

*:focus
{
    outline: none;
}

#app-cover
{
}


#bg-layer
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.51;
    z-index: 2;
}

#player
{
}

#player-track
{
    transition: 0.3s ease top;
    padding: 0.5em 1em;
    padding-bottom: 0;
}

#player-track.active
{
}

#album-name
{
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: rgba(0,0,0,0.63);
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color: #ffffff;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgba(0,0,0,0.63);
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    padding: 1em 0;
}


#album-art.active img.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}


#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    overflow: hidden;
}

.control
{
    width: 33.333%;
    text-align: center;
}

.button
{
    width: 20px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 20px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}



.button:hover i
{
    color: #d6dee7;
}

#follow-me-link
{ 
    top: 10px;
    font-size: 13px;
    padding: 5px 7px;
    background-color: #f86d92;
    border-radius: 2px;
}

#share-link
{
    top: 45px;
    width: 16px;
    height: 16px;
    padding: 10px;
    font-size: 16px;
    background-color: #7dca24;
    border-radius: 50%;
}

#follow-me-link, #share-link
{
    position: fixed;
    right: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
	z-index: 125;
	
}

.menu{
	box-shadow: none !important;
}
.crumbs_patch{
	display: inline-block;
}
.crumbs_patch a{
	color: rgba(0,0,0,.54)!important;
	text-decoration: none;
}
.crumbs_patch_a{
	color: rgba(0,0,0,.54)!important;
	text-decoration: none;
}
.touxx{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.titlea{
    font-weight: 400;
    color: #333;
    font-size: 14px;
    padding: 0.5em 0;
}
.titmee{
    font-size: 12px;
}
.in-angcom{
   cursor:pointer;
}
.current a{background: rgba(0,0,0,.54) !important;color: #fff !important;}


.com-input{
   position: relative;
    z-index: 1;
}